---
import Audiences from "@/components/Audiences.astro";
import Features from "@/components/Features.astro";
import FinalCta from "@/components/FinalCta.astro";
import Footer from "@/components/Footer.astro";
import Hero from "@/components/Hero.astro";
import Nav from "@/components/Nav.astro";
import Trial from "@/components/Trial.astro";
import Base from "@/layouts/Base.astro";
---

<Base>
  <Nav />
  <main>
    <Hero />
    <Audiences />
    <Features />
    <Trial />
    <FinalCta />
  </main>
  <Footer />
</Base>
